.container {
  margin: 20px;
  .radio-options {
    padding-left: 25px;
    label {
      padding-left: 12px;
      font-size: 15px;
      vertical-align: middle;
    }
    input[type="radio"] {
      font-size: 25px;
    }
  }
  .option {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
    input[type="text"] {
      width: 25%;
      line-height: 35px;
      font-size: 18px;
      padding: 4px 12px;
      @media (max-width: 730px) {
        width: 50%;
      }
    }
    .all-products {
      padding: 16px;
      text-decoration: underline;
      color: blue;
      cursor: pointer;
    }
    .logo {
      width: 42px;
      height: 32px;
      position: relative;
      z-index: 1;
      left: -44px;
      top: 8px;
      color: #7B7B7B;
      cursor: pointer
    }
  }
  .input-field {
    border-bottom: 1px solid grey;
    padding-bottom: 12px;
  }
  .autocomplete {
    display: flex;
    justify-content: flex-end;
    margin: 0px 60px;
    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      top: 18%;
      width: 25%;
      line-height: 24px;
      font-size: 18px;
      padding: 0px 0px;
      list-style-type: none;
      @media (max-width: 730px) {
        width: 46%;
      }
    }
    .autocomplete-items li {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items li:hover {
      background-color: #e9e9e9;
    }
    .autocomplete-active {
      background-color: DodgerBlue !important;
      color: #ffffff;
    }
  }
}
